body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #F2F2F2; /* 设置背景颜色 */
    color: #333333; /* 设置文本主体颜色 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    width: 90%;
    height: 80%;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 设置盒子阴影 */
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 24px; /* 设置标题文字大小 */
    color: #333333; /* 设置标题颜色 */
    margin-bottom: 20px;
}

h2 {
    font-size: 20px; /* 设置副标题文字大小 */
    color: #333333; /* 设置副标题颜色 */
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px 0;
    font-size: 18px; /* 设置按钮文字大小 */
    font-weight: 600;
    color: #333333; /* 设置按钮字体颜色 */
    background-color: #FFFFFF; /* 设置按钮背景颜色 */
    border: 1px solid #D9D9D9; 
    border-radius: 5px; /* 设置按钮圆角 */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #E0E0E0; /* 设置按钮悬停背景颜色 */
    transform: translateY(-3px); /* 设置按钮悬停提升效果 */
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 5px; /* 设置图片圆角 */
    margin-bottom: 15px;
}

.text-container {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #FBFBFB;
    border: 1px solid #E6E6E6;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); /* 设置内阴影 */
    border-radius: 5px; /* 设置容器圆角 */
}

.controls input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #D9D9D9; 
    border-radius: 5px;
    background-color: #FFFFFF; 
    color: #333333;
    font-size: 16px; /* 设置输入框文字大小 */
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        height: 100%;
    }

    .image-container img {
        max-height: 200px;
    }
}

#sections, #story {
    display: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* 加载动画文字大小 */
    padding: 10px 20px; /* 内边距 */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
}